@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
  font-family: 'roboto', sans-serif;

}
.headerhero {
    background-color: #1F2937;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px 150px;
}



.header ul {
    display: flex;
    list-style: none;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;

}
.header ul li {
    margin-left: 20px;
}
.container {
    display: flex;
    margin: 50px;
    padding: 50px 100px;
    
}

.text.container {
    display: flex;
    flex-direction: column;
    
}
img.placeholder-img {
    width: 400px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}
button {
    color:#E5E7EB;
    font-weight: bold;
    background-color: #3882F6;
    padding: 5px 20px;
    border-radius: 5px;
    box-shadow: 0 ;
    border: none;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}